@font-face {
  font-family: Iransans;
  src: url("../Font/Iranian\ Sans.ttf") format("ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Iransans;
  direction: rtl;
  color: rgb(58, 61, 66);
  font-weight: 400;
  line-height: 1.25rem;
}
a:hover {
  text-decoration: none;
}
main {
  padding: 2.5rem 0;
}
.header {
  margin: 0 2.5rem 4rem 2.5rem;
  height: 44rem;
  padding: 2rem;
  position: relative;
  background-color: rgb(249, 250, 251);
  border-bottom-right-radius: 7.5rem;
  display: flex;
  flex-direction: column;
}
.pizza-img {
  position: absolute;
  top: 10.395rem;
  left: 0px;
 width: 50%;
 height: 85%;
  margin-top: -4rem;
}
.pizza-img img{
  height: 100%;
}
.navbar-nav {
  flex-direction: row;
  align-items: center;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item span {
  margin-right: 0.5rem;
  color: rgb(58, 61, 66) !important;
}
.pink {
  height: 3rem;
  border: 0.09375rem solid rgb(255, 0, 166);
  border-radius: 0.375rem;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(255, 0, 166);
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Iransans;
  min-width: 6.6875rem;
  width: auto;
  padding: 0 !important;
}
.navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header-content {
  margin-right: 1rem;
  margin-top: 9rem;
  margin-bottom: 2rem;
  text-align: right;
  flex-grow: 1;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.header-content-title h1 {
  font-weight: 700;
}
.slider p {
  font-size: 2.5rem;
  color: rgb(255, 0, 166);
  padding-right: 10px;
  line-height: 3rem;
}
.slick-slider {
  text-align: right;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.slick-list,
.slick-slider,
.slick-track {
  display: grid;
}
.header-text {
  color: rgb(83, 86, 92);
  font-weight: 400;
  margin-top: -40px;
  line-height: 1.25rem;
}
.header-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  min-width: 16.875rem;
  max-width: 50%;
  height: 3.5rem;
  margin-top: 1.75rem;
  background-color: rgb(255, 255, 255);
  border: 0.0625rem solid rgba(58, 61, 66, 0.12);
  border-radius: 5rem;
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
}
.header-search-form div i {
  color: #a6aaad;
  margin-right: 1.1875rem;
}
.header-search-form div span {
  color: rgb(166, 170, 173);
  margin-right: 0.6875rem;
}
.search-form-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 150ms ease-out 0s;
  width: 3rem;
  height: 3rem;
  border: 0.09375rem solid rgba(255, 0, 166, 0.06);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 166);
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
  font-size: 1.125rem;
  margin-left: 0.25rem;
}
.header-link {
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2.5rem);
  border-radius: 1.5rem;
  padding: 1rem 0px 0.5rem;
}
.header-menu {
  list-style-type: none;
  padding-top: 1rem;
}
.header-menu-item {
  padding-bottom: 1rem;
  min-width: 5.5rem;
  display: flex;
  justify-content: center;
}
.header-menu-link img {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}
.header-menu-link p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(83, 86, 92);
  margin-bottom: 0;
  text-align: center;
}
.categories {
  margin: 0 2.5rem;
}
.category-container {
  margin-bottom: 2rem;
}
.category-title {
  color: rgb(83, 86, 92);
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.category-item {
  padding: 15px;
}
.category-link > div {
  position: relative;
  /* height: 5.9385rem; */
  padding: 0.1875rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.75rem;
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px,
    rgb(0 0 0 / 30%) 0px 8px 32px -16px;
  cursor: pointer;
}
.category-link img {
  object-fit: cover;
  border-radius: inherit;
}
.category-link-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0.25rem 1rem 0.25rem 0.8125rem;
  background-color: inherit;
  border-top-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  display: flex;
  align-items: center;
}
.category-link-btn span {
  margin-left: 0.8125rem;
  color: rgb(58, 61, 66);
  line-height: 1.5rem;
}
.category-link-btn i {
  color: #ff00a6;
}
.App-snapp {
  margin: 0 2.5rem;
}
.App-snapp-container {
  position: relative;
  margin-top: 9.375rem;
  padding: 4rem;
  background-color: rgb(235, 237, 240);
  border-bottom-right-radius: 7.5rem;
  text-align: right;
}
.snapp-content {
  padding-right: 5rem;
  padding-left: 6rem;
}
.snapp-content h2 {
  margin-bottom: 2.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(58, 61, 66);
  font-size: 3rem;
}
.snapp-content p {
  margin-bottom: 2.5rem;
  line-height: 2rem;
  color: rgb(83, 86, 92);
}
.snapp-img img {
  position: absolute;
  left: 0.5rem;
  margin-top: -12.5rem;
  width: 424px;
}
.receive-form{
  margin-bottom: 2.5rem;
}
.receive-form p {
  font-weight: 700;
  font-size: 0.85rem;
  line-height: 1rem;
  color: rgb(83, 86, 92);
}
.form-group {
  display: flex;
  align-items: center;
  width: 35vw;
  min-width: 17.8125rem;
  max-width: 50%;
  height: 3rem;
  margin-top: 0.375rem;
  background-color: rgb(255, 255, 255);
  border: 0.0625rem solid rgba(58, 61, 66, 0.12);
  border-radius: 0.375rem;
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
}
.form-group button {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  height: 2rem;
}
.form-control {
  border: none;
}
.form-control:focus{
  box-shadow: none;
  border: none;
}
.form-control::placeholder{
  color: #a6aaad !important;
}
.download-app {
  display: flex;
  margin-bottom: 2.5rem;
}
.download-app a {
  margin-left: 1rem;
}
.sellers {
  margin: 0 2.5rem;
}
.sellers-container {
  margin-top: 10.0625rem;
  padding: 3rem;
  background-color: rgb(249, 250, 251);
  border-radius: 2rem;
}
.sellers-content h2{
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
.sellers-content p{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
}
.sellers-content button{
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem !important;
  margin-bottom: 2.5rem;
}
.sellers-content button span{
  margin-right: 0.5rem;
}
.sellers-img img{
  margin-top: -8.75rem;
}
.cities{
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-top: 0.0625rem solid rgb(235, 237, 240);
}
.cities-header h2{
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.cities-container a{
   padding: 0.3rem 0;
   font-weight: 400;
   font-size: 0.7rem;
   line-height: 0.75rem;
   color: rgb(166, 170, 173);
}
.footer{
  padding: 3rem;
  background-color: rgb(249, 250, 251);
}
.footer-header h3{
  color: rgb(255, 0, 166);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
}
.footer-header p{
  font-weight: 400;
    font-size: 0.85rem;
    line-height: 1rem;
    color: rgb(83, 86, 92);
    margin-bottom: 0;
}
.footer-social ul{
  list-style-type: none;
  display: flex;
}
.footer-social ul li{
 padding: 0.5rem;
}
.footer-social-link{
  width: 2.5rem;
  height: 2.5rem;
  border: 0.09375rem solid rgba(58, 61, 66, 0.06);
  border-radius: 50%;
  color: rgb(58, 61, 66);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(58 61 66 / 6%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px 4px 16px -8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-social{
  margin-right: 5rem;
}
.footer-link{
  margin: 0.5rem;
  color: rgb(58, 61, 66);
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1rem;
}
.enamad img{
 max-width: 125px;
}
@media (max-width: 992px) {
   main{
     padding: 1.5rem 0;
   }
   .header{
    margin: 0 1.5rem 4rem 1.5rem;
    border-bottom-right-radius: 0px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
   }
   .header-content{
     margin-top: 1.875rem;
     margin-right: 1rem;
   }
   .header-content-title h1{
     font-size: 2rem;
   }
   .slider p{
     font-size: 2rem;
   }
   .header-link{
     overflow-x: scroll;
   }
   .App-snapp-container{
     border-bottom-right-radius: 0;
     margin-top: 2.5rem;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
   }
   .snapp-content{
     padding: 0 1rem;
   }
   .snapp-content h2{
     font-size: 2.5rem;
   }
   .download-app{
     flex-wrap: wrap;
   }
}

@media (max-width: 992px) {
  .d-show{
    display: inline-block !important;
  }
}

@media (max-width: 768px) {
  .App-snapp{
    margin: 0;
  }
  .sellers-content h2{
    font-size: 2rem;
  }
}
@media (max-width: 576px) {}
